.page-container {
  display: flex;
  flex-direction: row;
  padding: 50px;
}
.header {
}
.arrow-home {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.link {
  padding: 10px;
  text-decoration: none;
  align-items: center;
  display: flex;
}
.link p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 29px;
  color: #474747;
}
