.page-container {
  display: flex;
  flex-direction: row;
  padding: 50px;
}
.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 8%;
  margin-top: 30px;
}
.arrow-home {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.link {
  padding: 10px;
  text-decoration: none;
  align-items: center;
  display: flex;
  width: 164px;
}

.link:hover p {
  color: var(--link);
}
.link:hover svg path {
  fill: var(--link);
}
.link p {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 29px;
  color: var(--strong-grey);
  margin-left: 10px;
  margin-top: 3px;
}
.search-input {
  background: var(--white);
  padding: 12px 0px 12px 15px;
  border: none;
  width: 80%;
}
.search-input:focus {
  outline: none;
}
.search-button {
  margin: 0;
  padding: 0;
  border: none;
}
.search-button svg {
  width: 20px;
  height: 20px;
  background: var(--white);
}

.search-button path {
  fill: var(--strong-grey);
}
.search-button:hover path {
  fill: var(--link);
}
.input-search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white);
  width: 300px;
  padding: 7px 0px 7px 0px;
  border-radius: 10px;
}
.select-search {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white);
  width: 300px;
  padding: 15px 0px 15px 0px;
  border-radius: 10px;
  margin-top: 10px;
  border: none;
  padding: 18px 25px;
  color: var(--link);
}

.select-search:focus {
  outline: none;
}

.loading-icon-content {
  display: flex;
  justify-content: center;
  padding: 50px;
}
.character-page-container-main {
  width: 40%;
}
.episode-page-container-main {
  width: 40%;
}
