.page-container {
  display: flex;
  flex-direction: row;
  padding: 50px;
}
.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 8%;
  margin-top: 30px;
}
.arrow-home {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.link {
  padding: 10px;
  text-decoration: none;
  align-items: center;
  display: flex;
  width: 164px;
}

.link:hover p {
  color: #797979;
}
.link:hover svg path {
  fill: #797979;
}
.link p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 29px;
  color: #474747;
  margin-left: 10px;
  margin-top: 3px;
}
.search-input {
  padding: 10px;
}
.search-button {
  margin: 0;
  padding: 0;
  border: none;
}
.search-button svg {
  width: 20px;
  height: 20px;
  background: white;
}

.search-button path {
  fill: #bbbbbb;
}
.search-button:hover path {
  fill: #d9d6d6;
}
.input-search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  width: 300px;
  padding: 7px 0px 7px 0px;
  border-radius: 10px;
}
.select-search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  width: 300px;
  padding: 15px 0px 15px 0px;
  border-radius: 10px;
  margin-top: 10px;
}
.select-search-box div {
  width: 80%;
}
.loading-icon-content {
  display: flex;
  justify-content: center;
  padding: 50px;
}
