.character-card-container {
  width: 75%;
  margin-left: 10%;
  background: var(--white);
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
  box-shadow: 4px 10px 10px rgba(145, 145, 145, 0.25);
}

.character-card-container:hover {
  background: #f7f7f7;
}

.character-card-container p {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  margin-left: 10px;
  color: var(--strong-grey);
}

.character-profile-picture {
  width: 25%;
  padding: 10px;
  border-radius: 100%;
}

.arrow {
  margin-right: 25px;
}
.arrow-content {
  margin-left: auto;
}
