.episode-card-container {
  padding: 32px 0px 32px 0px;
  width: 75%;
  margin-left: 10%;
  background: var(--white);
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
  box-shadow: 4px 10px 10px rgba(145, 145, 145, 0.25);
}
.episode-card-container:hover {
  background: var(--white-hove);
}
.episode-card-container p {
  font-family: Roboto;
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--strong-grey);
  padding-left: 6%;
}
.arrow {
  margin-right: 25px;
}
.arrow-content {
  margin-left: auto;
}
