@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.episode-card-container {
  padding: 30px 0px 25px 20px;
  width: 100%;
  margin-left: 10%;
  background: var(--white);
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
  box-shadow: 4px 10px 10px rgba(145, 145, 145, 0.25);
}
.episode-card-container:hover {
  background: #f7f7f7;
}
.episode-card-container p {
  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  color: var(--strong-grey);
}
.arrow {
  margin-right: 25px;
}
.arrow-content {
  margin-left: auto;
}
