* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #f4f4f4;
  --strongBlue: #22a2bd;
  --green: #8afe5c;
}

@media (max-width: 1080) {
  html {
    font-size: 93.75%;
  }
}
@media (max-width: 720) {
  html {
    font-size: 87.5%;
  }
}

body {
  background-attachment: var(--white);
}

button {
  cursor: pointer;
}
link {
  text-decoration: none;
  color: inherit;
}
