* {
  margin: 0;
  padding: 0;
}

:root {
  --white: #fcfafa;
  --background: #f4f4f4;
  --blue: #22a2bd;
  --green: #8afe5c;
  --strong-grey: #474747;
  --link: #797979;
  --grey: #dcdcdc;
}

html {
  font-size: 1rem;
}

body {
  background: var(--background);
}

button {
  cursor: pointer;
}
