.selected-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--white);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
  width: 25%;
  max-height: 85%;
  position: fixed;
  right: 20%;
  top: 7%;
}
.profile-picture {
  padding: 15px 15px 0px 15px;
}
.main-informations {
  margin-top: 3%;
  display: flex;
  justify-content: center;
}
.information-content:last-child {
  margin-bottom: 3%;
}
.name {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 35px;
  color: var(--strong-grey);
  padding: 5px;
}

.status {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 5px;
  line-height: 35px;
  color: #df9504;
}

.locale {
  font-family: Roboto;
  font-size: 1rem;
  text-align: center;
  color: var(--strong-grey);
  margin-bottom: 10px;
}
.episodes-title {
  background: #dcdcdc;
  font-family: Roboto;
  font-weight: bold;
  font-size: 1rem;
  padding: 10px;
  color: #242424;
}
.selected-container {
  overflow-y: auto;
}
.information-content {
  display: flex;
  font-family: Roboto;
  font-size: 1rem;
  color: var(--strong-grey);
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
}
.episode {
  margin-bottom: auto;
  padding: 10px;
  border-bottom: 1px solid #dcdcdc;
}
