@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.selected-character-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #ffffff;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
  width: 25%;
  height: 85%;
  position: fixed;
  right: 20%;
}
.profile-picture {
  width: 100%;
  padding: 15px;
}
.main-informations {
  display: flex;
  justify-content: center;
}
.name {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 35px;
  color: #474747;
  padding: 5px;
}

.status {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  padding: 5px;
  line-height: 35px;
  color: #df9504;
}

.locale {
  font-family: Roboto;
  font-size: 15px;
  text-align: center;
  color: #474747;
  margin-bottom: 10px;
}
.episodes-title {
  width: 100%;
  background: #dcdcdc;
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  color: #242424;
}
.episodes-container {
  overflow-y: auto;
}
.information-content {
  display: flex;
  font-family: Roboto;
  font-size: 15px;
  color: #474747;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
}
.episode {
  margin-bottom: auto;
  padding: 10px;
  border-bottom: 1px solid #dcdcdc;
}
